.category{
    width: 280px;
    height: 220px;
    border-radius: 15px;
}
.category-img{
    height: 200px;
    border-radius: 15px;
    background-image: url('https://loremflickr.com/330/240');
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}
.category-name{
    font-weight: 600;
}